*{
	//all: unset;
	font-family: "JetBrains Mono", monospace, sans-serif, serif;
}

.text_test {
  // border: 1px solid #4c5667;
  border-radius: 3px;
  font-size: 200%;
  font-weight: bold;
  color: #c5c4ca;
}

.box_test {
  border: 1px solid #4c5667;
  border-radius: 3px;
  background-color: #1e1e2e;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

menu {
  opacity: 0.9;
  background-color: #1e1e2e;
  border-radius: 8px;
  border: 1px solid #45475a;
  padding: 5px;
}
menuitem {
  color: #cdd6f4;
  padding: 5px 10px;
  border-radius: 5px;
}
menuitem:hover {
  background-color: #313244;
}
separator {
  background-color: #45475a;
  margin: 5px 0;
}

tooltip {
  background-color: #1e1e2e;
  border-radius: 6px;
  border: 1px solid #45475a;
  padding: 5px 10px;
  opacity: 0.9;
}
tooltip label {
  color: #cdd6f4;
}